{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Foodfy</title>
{% endblock %}

{% block content %}
    <div class="about__foodfy">
        <h1>Sobre o Foodfy</h1>

        <p>
            {{ about.text_one }}
        </p>
        <p>
            {{ about.text_two }}
        </p>

        <h2>Como tudo começou...</h2>
        
        <p>
            {{ about.text_one }}
        </p>
        <p>
         {{ about.text_two }}
        </p>

        <h2>Nossas receitas</h2>

        <p>
            {{ about.text_two }}
        </p>

    </div>
{% endblock %}

