{% extends "layout.njk" %}

{% block head %}
    <title>{{recipe.title}} - Foodfy</title>
{% endblock %}

{% block content %}

 
    <div class="recipe__foodfy">
        
            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">

            <h1>{{recipe.title}}</h1>

            <p>{{recipe.author}}</p>
    </div>
    <div class="ingredients__foodfy">
            <div class="title_and_button">
                <h2>Ingredientes</h2>
                <a class="button">Esconder</a>
            </div>
            <ul class="content show">
                {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>

            <div class="title_and_button">
                <h2>Modo de preparo</h2>
                <a class="button">Esconder</a>
            </div>
            <ul class="content show">
                {% for preparation in recipe.preparation%}
                <li>{{ preparation }}</li>
                {% endfor %}
            </ul>
            
            <div class="title_and_button">
                <h2>Informações adicionais</h2>
                <a class="button">Esconder</a>
            </div>
            <p class="content show">
                {{ recipe.information }}
            </p>
    </div>

    <script src="/scripts.js"></script>
{% endblock %}

