@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --color-letter: #111111;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

#page-home {
    width: 90%;
    height: 100%;

    margin: 0 auto;
}

#page-home header {
    margin-top: 36px;

    display: flex;
    align-items: center;
}

#page-home header a{
    margin-right: 30px;
    
    color: var(--color-letter);
    font-size: 16px;
    text-decoration: none;
}

#page-home header img{
    margin-right: 100px;
}

#page-home main {
    background-color: #FBDFDB;
    border-radius: 30px;
    border-radius: 30px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 66px 100px 0 60px;
}

#page-home main h1 {
    color: var(--color-letter);
    font-weight: bold;
    font-size: 32px;
}

#page-home main p {
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 18px;
    line-height: 28px;
    color: black;

    max-width: 316px;
}

.list__recipes {
    margin-top: 50px;
    margin-bottom: 20px;
    
    font-size: 19px;
    color: var(--color-letter);
}

.about__foodfy {
    margin-top: 50px;
}

.about__foodfy h1 {
    font-size: 24px;
    color: var(--color-letter);
    margin-bottom: 20px;
}

.about__foodfy h2 {
    font-size: 20px;
    color: var(--color-letter);
    margin-bottom: 20px;
}

.about__foodfy p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
}

/*=== RECIPES ===*/
#page-home .recipes {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
}

.recipe__image img {
    max-width: 100%;

    border-radius: 15px;
    border-radius: 15px;
    height: 140px;

    cursor: pointer;
}

.recipe__name {
    margin-top: 15px;
    margin-bottom: 5px;
}

.recipe__chef {
    font-family: "Roboto-Regular";
    font-size: 14px;
    color: #777777;
    margin-bottom: 20px;
}

/*=== MODAL ===*/

.modal-overlay {
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
   
    visibility: hidden;
}

.modal {
    background-color: #FFFFFF;

    text-align: center;
    width: 660px;
    height: 413px;
    border-radius: 16px;
   
}

.modal img {
    margin: 30px 0 20px 0;
    border-radius: 15px;
}

.modal-overlay h3 {
    font-size: 24px;
    color: var(--color-letter);
}

.modal-overlay p {
    margin-top: 5px;
    font-size: 18px;
    color: #777777;
}

.modal .close-modal {
    padding-top: 30px;
    padding-bottom: 15px;
    border-radius: 0px 0px 15px 15px; 
    background: #EEEEEE;
    
    font-size: 16px;
    color: #999999;

    cursor: pointer;
}

.modal .close-modal:hover {
    background-color: #FBDFDB;
}


/*=== MODAL.ACTIVE ===*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

/*=== FOOTER ===*/

footer {
    background: #EEEEEE;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

footer p {
    
    font-size: 14px;
    color: #999999;
    text-align: center;
}

/*=== RECIPE PAGE ===*/
.recipe__foodfy{
    text-align: center;
}
.recipe__foodfy img{
    max-width: 100%;

    border-radius: 15px;
    border-radius: 15px;

    margin-top: 50px;
}

.recipe__foodfy h1 {
    margin-top: 50px;

    font-weight: bold;
    font-size: 36px;
    color: #111111;
}

.recipe__foodfy p {
    margin-top: 4px;

    font-size: 20px;
    color: #777777;
}

.ingredients__foodfy {
    margin-top: 50px;
}

.ingredients__foodfy h2{
    font-weight: bold;
    font-size: 24px;
    color: #111111;

    margin-bottom: 20px;
    margin-top: 39px;
}

.ingredients__foodfy li{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}   

.ingredients__foodfy p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;

}   

.title_and_button{
    display: flex;
    align-items: center;
    text-align: center;
}

.button{
    font-size: 12px;
    color: #999999;
    margin-left: 8px;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover{
    color: #555555;
    transition: color 300ms;
}

.content.show{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.content.show:hover{
    color: var(--color-darkgreen);
    transition: color 300ms;
}

.content.hide{
    max-width: 940px;
    display: none;
    overflow: hidden;
}

